# Validation case of the algorithm with variable intensity in preference
This notebook is based on the code of the validation test `test_validation.test_method_with_comparison_intensity`.

In [7]:
import sys
sys.path.insert(0, "..")
from consensus.entities.ranking_process import RankingProcess
from consensus.entities.ranking import Preference

First, a new blank _ranking process_ is created:

In [8]:
rk_process = RankingProcess()

The list of alternatives is specified hereafter. They will be ranked by the members in the group which tries to reach a consensus.

In [9]:
# Names of alternatives
alternative_names = ("A", "B", "C", "D", "E", "F", "G", "H")

# Creates the alternatives
for name in alternative_names:
    rk_process.new_alternative(
        name=name,
        description=f"Alternative '{name}'"
    )

Now, let's add two members in the group _Grace_ and _Barbara_:

In [10]:
rk_process.new_member("Grace")
rk_process.new_member("Barbara")

_Grace_ makes a ranking of alternatives with a _moderate preference_ between the four classes she specifies:
- A, B
- C, D, E
- F
- G, H

In [11]:
rk_process.make_ranking("Grace", [
    ["A", "B"],
    ["C", "D", "E"],
    ["F"],
    ["G", "H"]
])

_Barabara_ makes exactly the same ranking but with variable intensities:
- A, B are **very strongly** prefered over
- C, D, E which are **moderately** prefered over
- F which is strongly prefered over
- G, H

In [12]:
rk_process.make_ranking(
    "Barbara",
    [
        ["A", "B"],
        ["C", "D", "E"],
        ["F"],
        ["G", "H"]
    ],
    [
        Preference.VERY_STRONG,
        Preference.MODERATE,
        Preference.STRONG
    ]
)

The table bellow gives payoff of every alternative.

In [14]:
payoff_table = rk_process.payoff()
display(payoff_table)

   Grace   Barbara     total
A  0.750  0.905810  1.655810
B  0.750  0.905810  1.655810
C  0.375  0.250022  0.625022
D  0.375  0.250022  0.625022
E  0.375  0.250022  0.625022
F  0.250  0.202927  0.452927
G  0.000  0.000000  0.000000
H  0.000  0.000000  0.000000